html,
body,
#root {
  height: 100%;
  width: 100%;
  display: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.backButton {
  position: fixed;
  z-index: 10;
  margin-left: 1em;
  margin-top: 1em;
  height: 60px;
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  user-select:none;
  font-size: 2em;
}

.backButton > img {
  filter: invert(27%) sepia(11%) saturate(874%) hue-rotate(2deg) brightness(98%)
    contrast(93%);
}

.startButton{
  position: fixed;
  z-index: 10;
  margin-top: 60vh;
  height: 60px;
  width: 100%;
  cursor: pointer;
  font-size:40px;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: pulse-animation 1.5s ease-in-out infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1.05);
    opacity: 1;
  }
  50% {
    transform: scale(1.0);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.05);
    opacity: 1;
  }
}
