html,
body,
#root {
  height: 100%;
  width: 100%;
  display: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.backButton {
  position: fixed;
  z-index: 10;
  margin-left: 1em;
  margin-top: 1em;
  height: 60px;
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  user-select:none;
  font-size: 2em;
}

.backButton > img {
  filter: invert(27%) sepia(11%) saturate(874%) hue-rotate(2deg) brightness(98%)
    contrast(93%);
}
